{{!-- https://dribbble.com/shots/17157826-Package-Tracker-Landing-Page --}}

<div class="w-full h-[100vh]
    flex flex-col p-3
    justify-center items-center
    bg-gradient-to-tl from-blue-100 via-pink-400 to-purple-500">
    <div class="w-96 shadow-xl rounded-xl m-5 p-10 bg-gray-300/50">
        <h1 class="text-5xl font-bold mb-2 ">FriendBoard</h1>
    
        <h5 class="text-lg font-light mb-10">
            A social network for friends to keep track of their finances, share their experiences and schedule events.
        </h5>
    
        <div>
            <button>
                <a href="/dashboard" 
                    class="btn btn-success">
                    Get Started
                </a>
            </button>
        </div>
    </div>
</div>

