{{!-- https://dribbble.com/shots/17157826-Package-Tracker-Landing-Page --}}

<div class="h-full w-full
    bg-gradient-to-r from-blue-400 to-white">
    {{!-- <div class="w-full h-full ">
        <img class="object-cover w-full h-full"
            src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="bg_image">
    </div> --}}
    <div class="flex flex-col gap-10 w-1/2 h-full justify-center p-10 z-10">
        <div class="">
            <h1 class="text-5xl font-bold">FriendBoard</h1>
            <h5 class="text-lg font-light">A social network for friends to keep track of their finances, 
                share their experiences and schedule events.</h5>
        </div> 
        <div class="">
            <a href="/dashboard" 
                class="bg-blue-500 text-white font-bold rounded-lg border p-3 hovee:bg-blue-600">
                Get Started
            </a>
        </div>
    </div>
</div>