{{!-- https://dribbble.com/shots/11023100-Daily-UI-006-007-Profile-Settings --}}

{{#with profile}}

<div class="flex flex-col">
    <p>{{name}}</p>
    <p>{{bio}}</p>
    <p>{{pronouns}}</p>
</div>

{{/with}}