
<div class="w-full h-[80vh] flex justify-center items-end">
    <div class="flex flex-col p-4 shadow w-96">
        <h1 class="text-3xl font-semibold self-center">Create a new Profile</h1>
        <form action="/profile/new" method="post"
            class="p-4 flex flex-col gap-5 font-light">
        
            <div class="flex flex-col gap-2">
                <label for="name">Name</label>
                <input name="name" type="text"
                    class="border rounded p-1">
            </div>
            <div class="flex flex-col gap-2">
                <label for="birthday">Birthday</label>
                <input name="birthday" type="date"
                    class="border rounded p-1">
            </div>
            <div class="flex flex-col gap-2">
                <label for="pronouns">Pronouns</label>
                <input name="pronouns" type="text"
                    class="border rounded p-1">
            </div>
            <div class="flex flex-col gap-2">
                <label for="bio">Bio</label>
                <textarea name="bio" cols="20" rows="3"
                    class="border rounded p-1"></textarea>
            </div>
            <div class="flex">
                <button class="shadow border rounded p-2 px-4 bg-blue-600 text-white hover:bg-blue-700" type="submit">Submit</button>
            </div>
        
        </form>
    </div>
</div>